.vscode/
lib/
obj/
*.o
*.a
*.so
*.pyc
release/
bin/
arducam_config_parser.vcxproj.user
.vs/

*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.gz
*.tar.xz
*.ddeb
*.substvars
debhelper-build-stamp
files

.debhelper/
arducam-config-parser-dev/